In [41]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School","Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [42]:
# Add the Pandas dependency
import pandas as pd

school_series = pd.Series(high_schools)

# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [47]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "school_type": "District"},
                     {"School ID": 1, "school_name": "Figueroa High School", "school_type": "District"},
                     {"School ID": 2, "school_name":"Shelton High School", "school_type": "Charter"},
                     {"School ID": 3, "school_name":"Hernandez High School", "school_type": "District"},
                     {"School ID": 4, "school_name":"Griffin High School", "school_type": "Charter"}]

In [48]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name school_type
0          0   Huang High    School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [49]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [50]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Add the list to a new Dataframe.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school


# Print the DataFrame
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [52]:
# Convert dictionary to DataFrame
school_dict_df = pd.DataFrame(high_school_dicts)

# Print the DataFrame
school_dict_df

   School ID            school_name school_type
0          0   Huang High    School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [57]:
# Print DataFrame columns
# school_df.columns

# Print DataFrame indexes
# school_df.index

# Print DataFrame values
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)